{{app-header}}
<div class="app-create-event">
  {{#app-event event = model.event allUsers = model.allUsers validator = model.validator}}
    <div class="name-event">
      Новая встреча
    </div>
    {{#link-to 'index' class="close-event element-close"}}
    {{/link-to}}
  {{/app-event}}
  <div class="app-create-event__buttons-block button-block">
    <div class="button-container">
      {{#link-to 'index' class = "button button-gray button-remove"}}
        Отмена
      {{/link-to}}
      <div {{action 'createEvent'}} class="button button-blue button-create">
        Создать встречу
      </div>
    </div>
  </div>
</div>
{{#app-modal-dialog actionVisible = showModal buttons = modalButtons}}
  <div class="modal-dialog-create">
    <div class="modal-dialog-create__image"></div>
    <div class="modal-dialog-create__header">Встреча создана!</div>
    <div class="modal-dialog-create__date">
      {{moment-format newEvent.dateStart "DD MMM, YYYY HH:mm"}} &mdash; {{moment-format newEvent.dateEnd "HH:mm"}}
    </div>
    <div class="modal-dialog-create__room">
      {{newEvent.room.title}} {{newEvent.room.floor}} этаж
    </div>
  </div>
{{/app-modal-dialog}}
