{{app-header}}
<div class="app-edit-event">
  {{#app-event event = model.event allUsers = model.allUsers validator = model.validator}}
    <div class="name-event">
      Редактирование встречи
    </div>
    {{#link-to 'index' class="close-event element-close"}}
    {{/link-to}}
  {{/app-event}}
  <div class="app-edit-event__buttons-block button-block" >
    <div class="button-container__mobile" {{action "removeEvent"}}>
      <div class = "button-remove__mobile">
        Удалить встречу
      </div>
    </div>
    <div class="button-container">
      {{#link-to 'index' class = "button button-gray"}}
        Отмена
      {{/link-to}}
      <div class = "button button-gray button-remove" {{action "removeEvent"}}>
        Удалить встречу
      </div>
      <div class="button button-gray button-save__mobile" {{action "updateEvent"}}>
        Сохранить
      </div>
    </div>
  </div>
</div>
{{#app-modal-dialog actionVisible = showModalUpdate buttons = modalButtons}}
  <div class="modal-dialog-create">
    <div class="modal-dialog-create__image"></div>
    <div class="modal-dialog-create__header">Встреча отредактирована</div>
    <div class="modal-dialog-create__date">
      {{moment-format newEvent.dateStart "DD MMM, YYYY HH:mm"}} &mdash; {{moment-format newEvent.dateEnd "HH:mm"}}
    </div>
    <div class="modal-dialog-create__room">
      {{newEvent.room.title}} {{newEvent.room.floor}} этаж
    </div>
  </div>
{{/app-modal-dialog}}
{{#app-modal-dialog actionVisible = showModalRemove buttons = modalButtonsRemove}}
  <div class="modal-dialog-create">
    <div class="modal-dialog-create__image-remove"></div>
    <div class="modal-dialog-create__header">Встреча будет <br> удалена безвозвратно</div>
  </div>
{{/app-modal-dialog}}
