<div class="app-user-view {{if dark 'dark'}}">
  <div class="user-avatar">
    {{#if user.avatarUrl}}
    <img src = {{user.avatarUrl}} />
    {{/if}}
  </div>
  <div class = "user-login">
    {{user.login}}
  </div>
  {{#if (and user.homeFloor longView)}}
    <div class="user-floor">
      &sdot;&nbsp;{{user.homeFloor}} этаж
    </div>
  {{/if}}
  {{#if close}}
    <div class="element-close user-remove" {{action 'closeElement' user}} >
    </div>
  {{/if}}
</div>
