<div class="app-event__container">
  <div class="app-event__header">
    {{yield}}
  </div>
  <div class="app-event__body">
    <div class="body-row">
      <div class="event-thema row-cell">
        <label for="thema"><span class="label-input">Тема</span></label>
        <div class="{{if (and (not event.title) (not validator.validTitle)) 'error-valid'}}">
          {{input class="element-input " value=event.title id="thema" placeholder="О чем будете говорить?"}}
        </div>
      </div>
      <div class="event-date-time row-cell">
        <div class="event-date">
          <label for="date"><span class="label-input">Дата</span><span class="only-mobile"> и время</span></label>
          <div class="element-input" id="date">{{moment-format inputDate "DD MMMM, YYYY"}} </div>
          {{app-calendar-main quatityMonth=1 setSelectDate=(action 'selectEventDate')}}
        </div>
        <div class="event-time-from">
          <label for="time-from"><span class="label-input">Начало</span></label>
          <div class="{{if (not validator.validTimeStart) 'error-valid'}}">
            {{input class="element-input" value=event.timeStart id="time-from"  maxlength="5" type="phone"}}
          </div>
        </div>
        <span class="dash">&mdash;</span>
        <div class="event-time-to">
          <label for="time-to"><span class="label-input">Конец</span></label>
          <div class="{{if  (not validator.validTimeEnd) 'error-valid'}}">
            {{input class="element-input" value=event.timeEnd id="time-to" max='5' type="phone"}}
          </div>
        </div>
      </div>
    </div>
    <div class="body-row">
      <div class="event-users row-cell">
        <div class="app-autocomplete users-input">
          <label for="users"><span class="label-input">Участники</span></label>
          <div class="{{if (and (not event.users.length) (not validator.validUsers)) 'error-valid'}}">
            {{input class="element-input app-autocomplete-input"
                    id="" placeholder="Например, Тор Одинович"
                    value=filterValue}}

            {{app-autocomplete class="app-autocomplete-list" items = filterUsers selectItem = (action 'selectUser')}}
          </div>
        </div>
        <div class="users-select">
          {{#each inputUsers as |item|}}
            <div class="select-user-item">
              {{app-user-view user = item dark = true close = true closeButton = (action 'removeUser')}}
            </div>
          {{/each}}
        </div>
      </div>

      {{#if event.room}}
        <div class="event-rooms row-cell">
          <label for=""><span class="label-input">Ваша переговорка</span></label>
          <div class="element-event select-room" id="">
            <div class="event-time">
              {{event.timeStart}} - {{event.timeEnd}}
            </div>
            <div class="event-room">
              {{event.room.title}}, {{event.room.floor}} этаж
            </div>
            <div class="element-close close-event" {{action 'changeEventRoom'}}>
            </div>
          </div>
        </div>
      {{/if}}

      {{#if recomendationRooms}}
        <div class="event-rooms row-cell">
          <label for=""><span class="label-input">Рекомендованные переговорки</span></label>
          {{#each recomendationRooms as |room|}}
          <div class="element-event recomendation-room" {{action 'selectEventRoom' room}}>
            <div class="event-time">
              {{room.timeStart}} - {{room.timeEnd}}
            </div>
            <div class="event-room">
              {{room.title}}, {{room.floor}} этаж
            </div>
          </div>
          {{/each}}
        </div>
      {{/if}}

    </div>
  </div>
</div>
