<div class="app-calendar">
  <div class="app-calendar__input">
    <div {{action "prevDate"}}  class="input-prev arrow-left"></div>
    <div class="input-value">{{selectValueDisplay}}&nbsp;&sdot;&nbsp;{{prefixSelectValue}}</div>
    {{app-calendar-main quatityMonth=3 setSelectDate=setSelectDate}}
    <div {{action "nextDate"}} class="input-next arrow-right"></div>
  </div>
</div>
